<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Server"
			 targetNamespace="{settings.soapServer.url}/rkw/rkwsoap/soap/server"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="{url}/rkw/rkwsoap/soap/server"
			 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
			 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
			 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			 xmlns:ns="{url}/rkw/rkwsoap/soap/server/types">

    <!-- This is WSDL Version 1.1 -->

    <!-- ################################################################################### -->
	<!-- describes all the data types used between the client and the server -->
	<types>
        <f:render partial="FeUser/FeUser" section="Types" arguments="{_all}" />
        <f:render partial="Shop/Product" section="Types" arguments="{_all}" />
        <f:render partial="Shop/Order" section="Types" arguments="{_all}" />
        <f:render partial="Shop/OrderItem" section="Types" arguments="{_all}" />
        <f:render partial="Shop/Stock" section="Types" arguments="{_all}" />
        <f:render partial="Event/Event" section="Types" arguments="{_all}" />
        <f:render partial="Event/EventPlace" section="Types" arguments="{_all}" />
        <f:render partial="Event/EventReservation" section="Types" arguments="{_all}" />
        <f:render partial="Event/EventReservationAddPerson" section="Types" arguments="{_all}" />
        <f:render partial="Global/Version" section="Types" arguments="{_all}" />
        <f:render partial="Global/StoragePids" section="Types" arguments="{_all}" />
    </types>

	<!-- ################################################################################### -->
    <!-- defines the values of input and output messages -->
    <f:render partial="FeUser/FeUser" section="Messages" arguments="{_all}" />
    <f:render partial="FeUser/FeUserGroup" section="Messages" arguments="{_all}" />
    <f:render partial="Shop/Product" section="Messages" arguments="{_all}" />
    <f:render partial="Shop/Order" section="Messages" arguments="{_all}" />
    <f:render partial="Shop/OrderItem" section="Messages" arguments="{_all}" />
    <f:render partial="Shop/Stock" section="Messages" arguments="{_all}" />
    <f:render partial="Event/Event" section="Messages" arguments="{_all}" />
    <f:render partial="Event/EventPlace" section="Messages" arguments="{_all}" />
    <f:render partial="Event/EventReservation" section="Messages" arguments="{_all}" />
    <f:render partial="Event/EventReservationAddPerson" section="Messages" arguments="{_all}" />
    <f:render partial="Global/Version" section="Messages" arguments="{_all}" />
    <f:render partial="Global/StoragePids" section="Messages" arguments="{_all}" />


    <!-- ################################################################################### -->
	<!-- defines operations with their input and output messages-->
	<portType name="ServerPortType">
        <f:render partial="FeUser/FeUser" section="PortTypes" arguments="{_all}" />
        <f:render partial="FeUser/FeUserGroup" section="PortTypes" arguments="{_all}" />
        <f:render partial="Shop/Product" section="PortTypes" arguments="{_all}" />
        <f:render partial="Shop/Order" section="PortTypes" arguments="{_all}" />
        <f:render partial="Shop/OrderItem" section="PortTypes" arguments="{_all}" />
        <f:render partial="Shop/Stock" section="PortTypes" arguments="{_all}" />
        <f:render partial="Event/Event" section="PortTypes" arguments="{_all}" />
        <f:render partial="Event/EventPlace" section="PortTypes" arguments="{_all}" />
        <f:render partial="Event/EventReservation" section="PortTypes" arguments="{_all}" />
        <f:render partial="Event/EventReservationAddPerson" section="PortTypes" arguments="{_all}" />
        <f:render partial="Global/Version" section="PortTypes" arguments="{_all}" />
        <f:render partial="Global/StoragePids" section="PortTypes" arguments="{_all}" />
    </portType>

	<!-- ################################################################################### -->
	<!-- defines how to transmit the communication over wire -->
	<binding name="ServerBinding" type="tns:ServerPortType">

        <!-- setting soap as envelope -->
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

		<!-- set encoding for operation -->
        <f:render partial="FeUser/FeUser" section="Bindings" arguments="{_all}" />
        <f:render partial="FeUser/FeUserGroup" section="Bindings" arguments="{_all}" />
        <f:render partial="Shop/Product" section="Bindings" arguments="{_all}" />
        <f:render partial="Shop/Order" section="Bindings" arguments="{_all}" />
        <f:render partial="Shop/OrderItem" section="Bindings" arguments="{_all}" />
        <f:render partial="Shop/Stock" section="Bindings" arguments="{_all}" />
        <f:render partial="Event/Event" section="Bindings" arguments="{_all}" />
        <f:render partial="Event/EventPlace" section="Bindings" arguments="{_all}" />
        <f:render partial="Event/EventReservation" section="Bindings" arguments="{_all}" />
        <f:render partial="Event/EventReservationAddPerson" section="Bindings" arguments="{_all}" />
        <f:render partial="Global/Version" section="Bindings" arguments="{_all}" />
        <f:render partial="Global/StoragePids" section="Bindings" arguments="{_all}" />
    </binding>

	<!-- finally defines the service and the port -->
	<service name="ServerService">
		<port name="ServerPort" binding="tns:ServerBinding">
			<soap:address location="{settings.soapServer.url}/index.php?type={settings.soapServer.typeNum}"/>
		</port>
	</service>

</definitions>
