<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:soapApi="http://typo3.org/ns/Madj2k/SoapApi/ViewHelpers"
      data-namespace-typo3-fluid="true">

    <f:section name="Types">
        <xsd:complexType name="CategoryList">
            <xsd:complexContent mixed="false">
                <xsd:restriction base="soapenc:Array">
                    <xsd:sequence>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="item" type="Category" />
                    </xsd:sequence>
                    <xsd:attribute wsdl:arrayType="Category[]" ref="soapenc:arrayType" />
                </xsd:restriction>
            </xsd:complexContent>
        </xsd:complexType>

        <xsd:complexType name="Category">
            <xsd:all>
                <f:for each="{soapApi:fieldMapping(table='sys_categories')}" as="mappingConfig">
                    <xsd:element minOccurs="0" maxOccurs="1" name="{mappingConfig.key}" type="xsd:{mappingConfig.type}" />
                </f:for>
            </xsd:all>
        </xsd:complexType>
    </f:section>

    <!-- ========================================================================= -->

    <f:section name="Messages">

        <message name="findSysCategoriesByTimestampRequest">
            <part name="timestamp" type="xsd:int"/>
        </message>
        <message name="findSysCategoriesByTimestampResponse">
            <part name="return" type="CategoryList"/>
        </message>
        <message name="findSysCategoriesByParentAndTimestampRequest">
            <part name="pid" type="xsd:int"/>
            <part name="timestamp" type="xsd:int"/>
        </message>
        <message name="findSysCategoriesByParentAndTimestampResponse">
            <part name="return" type="CategoryList"/>
        </message>
        <message name="findAllConsentTopicsRequest"/>
        <message name="findAllConsentTopicsResponse">
            <part name="return" type="CategoryList"/>
        </message>

    </f:section>

    <!-- ========================================================================= -->

    <f:section name="PortTypes">

        <operation name="findSysCategoriesByTimestamp">
            <input message="tns:findSysCategoriesByTimestampRequest"/>
            <output message="tns:findSysCategoriesByTimestampResponse"/>
        </operation>
        <operation name="findSysCategoriesByParentAndTimestamp">
            <input message="tns:findSysCategoriesByParentAndTimestampRequest"/>
            <output message="tns:findSysCategoriesByParentAndTimestampResponse"/>
        </operation>
        <operation name="findAllConsentTopics">
            <input message="tns:findAllConsentTopicsRequest"/>
            <output message="tns:findAllConsentTopicsResponse"/>
        </operation>

    </f:section>

    <!-- ========================================================================= -->

    <f:section name="Bindings">

        <operation name="findSysCategoriesByTimestamp">
            <soap:operation soapAction="{url}/rkw/rkwsoap/soap/server/#findSysCategoriesByTimestamp"/>
            <input>
                <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
            </input>

            <output>
                <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
            </output>
        </operation>

        <operation name="findSysCategoriesByParentAndTimestamp">
            <soap:operation soapAction="{url}/rkw/rkwsoap/soap/server/#findSysCategoriesByParentAndTimestamp"/>
            <input>
            <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
            </input>

            <output>
                <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
            </output>
        </operation>

        <operation name="findAllConsentTopics">
            <soap:operation soapAction="{url}/rkw/rkwsoap/soap/server/#findAllConsentTopics"/>
            <input>
                <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
            </input>
            <output>
                <soap:body use="literal" namespace="{url}/rkw/rkwsoap/soap/server"/>
            </output>
        </operation>
    </f:section>
</html>
